*{
    margin: 0;
}
.half-width{
    width: 50%;
    float: left;
}
.half-width img{
    width: 100%;
}
section{
    height: 400px;
}
.one-third{
    width: 32%;
    float: left;
}
.one-third img{
    width: 100%;
}
.one-third h2{
    text-align: center;
}
.hospital{
    margin-left: 2%;
    margin-right: 2%;
}
button{
    padding: 10px 20px;
    background-color: coral;
    border: 2px solid gray;
    border-radius: 15px;
}
body{
   background-color: #eb50ff86;
   margin: 50px;
}